

<div>
  
      <md-card class="center"style="background-image: url('images/card_front.jpg');
      background-size:100% 100%;height: 436px;width:726px" >
     
      <div style="background-image: url('images/boys/me.jpg');
      background-size:100% 100%;
      width: 129px;
      height: 28%;
      position: relative;
      left: 8.1%;
      top: 8%;"></div>
      <div style="   
      position: relative;
      left: 54%;
      top: -11%;
      font-size: 335%;
      color: white;
      font-weight: 500;">Michael Reda</div>
      <qr text="ID" type-number="0" correction-level="'H'"  size="225" style="position: relative;
      left: 2%;
      top: -1%;"></qr>
      </md-card>
      
      <md-card  class="center" style="background-image:  url('images/card_back.jpg');
      background-size:100% 100%;height:436px;width:726px" >
      </md-card>
 

  
</div>


<style>
  .center{
    margin-right:auto;
    margin-left:auto;
  }
</style>
